content {
	//position
	top: 100%;
	left: 0;
	z-index: 100;
	position: absolute;

	background: var(--shade3);
	transform: rotateX(-90deg);
	transform-origin: top;
}

dropdown {
	--arrow-open: polygon(
		0 0,
		100% 0,
		50% 25%,
		50% 75%,
		100% 100%,
		0 100%,
		50% 75%,
		50% 25%);
	--arrow-closed: polygon(
		0 25%,
		100% 25%,
		50% 75%,
		50% 75%,
		50% 75%,
		50% 75%,
		50% 75%,
		50% 75%);
	
	position: relative;
	z-index: 50;
	display: inline-block;
	
	label {
		display: flex;
	}

	&:hover {//hovered dropdown
		box-shadow: var(--shadow);
		& > content {//hovered dropdown > content
			transform: initial !important;
		}
		&::after {//hovered dropdown::after
			clip-path: var(--arrow-open);
		}
	}

	&::after {
		//transition
		transition: 0.5s ease;
		transition-delay: var(--transition);

		//position
		float: right;
		width: var(--font-size);

		content: ".";//make content render
		margin-right: 0.11vh;//stop from going outside dropdown
		clip-path: var(--arrow-closed);
		background: var(--shade3);
	}
}

#settingsContent  > * + * {
	border-top: 0.25vh solid var(--lighten);
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}