dropdown.right{
	content {
		transform: scaleX(0);
		transform-origin: left;
		top: 0;
		left: 100%;
		min-height: 100%;/*force height to be size of idropdown title*/
	}

	&::after {
		transform: rotate(-90deg);
	}
}