content {
	top: 100%;
	left: 0;
	z-index: 100;
	position: absolute;

	background: var(--shade3);
	/*hide*/
	opacity: 0;
	transform: translateY(-20%);
	pointer-events: none;
}

dropdown {
	position: relative;
	z-index: 50;
	display: inline-block;

	label {
		display: flex;
	}

	&:hover {
		box-shadow: var(--shadow);
		& > content {/*show*/
			transform: initial;
			opacity: initial;
			pointer-events: initial;
		}
		&::after {
			clip-path: polygon(0 0, 100% 0, 50% 25%, 50% 75%, 100% 100%, 0 100%, 50% 75%, 50% 25%);
		}
	}

	&::after {
		content: ".";/*make content render*/

		float: right;

		width: var(--font-size);
		transition: 0.5s ease;
		transition-delay: var(--transition);
		
		clip-path: polygon(0 25%, 100% 25%, 50% 75%, 50% 75%, 50% 75%, 50% 75%, 50% 75%, 50% 75%);
		background: var(--shade3);
		margin-right: 0.11vh;/*stop from going outside dropdown*/
	}
}

#settingsContent > * + * {
	border-top: 0.25vh solid var(--lighten);
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}