.flashy {
	--font-size: 3.5vh;
	text-decoration: none;
	text-align: center;
	background-image: linear-gradient(-45deg, red, yellow);
	position: relative;
	overflow: hidden;
}
a.flashy {
	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 0.3vh;
		
		transform: scaleX(0);
		transition: var(--transition);

		background: var(--shade3);
	}

	&:hover::after {
		transform: initial;
	}
}