.futuristic {
	--shadow: 10px 10px var(--shade1);
	--font-family: "Aviano Future", serif;
	--notch-clip-path: polygon(
		0 0,
		100% 0,
		100% calc(100% - 3vh),
		calc(100% - 3vh) 100%,
		0 100%);
	--border-radius: 0;

	* {
		clip-path: var(--notch-clip-path);
	}

	a:hover, button:hover {
		animation: futuristic 1s;
	}
}

@keyframes futuristic {
	0% {
		display: none;
	}

	12.5% {
		display: none;
	}

	25% {
		display: initial;
	}

	50% {
		display: none;
	}

	100% {
		display: initial;
		box-shadow: var(--shadow);
	}
}