.futuristic {
	--shadow: -2px 2px var(--shade1);
	--font-family: "Aviano Future", serif;
	--notch-clip-path: polygon(
		0 0,
		calc(100% - 0.4vh) 0%,
		calc(100% - 3vh) 100%,
		0% 100%);
	--border-radius-left: calc(15% + 2vh);

	.future-car {
		// add a cool white border
		clip-path: var(--notch-clip-path);
		border-top-left-radius: var(--border-radius-left);
		border-bottom-left-radius: var(--border-radius-left);
		border: 0.1vh solid white;

		overflow: hidden;
		padding-left: 3vh;
		padding-right: 3vh;
	}

	a:hover, button:hover, input[type="submit"]:hover {
		animation: futuristic 1s;
	}
}

@keyframes futuristic {
	0% {
		display: none;
	}

	12.5% {
		display: none;
	}

	25% {
		display: initial;
	}

	50% {
		display: none;
	}

	100% {
		display: initial;
		box-shadow: var(--shadow);
	}
}