header {
	position: sticky;
	top: 0px;
	padding: none;
	border-radius: none;
	z-index: 50;
	display: block;
	margin: auto;
	width: fit-content;
	
	box-shadow: 0 10 4 2 rgba(0, 0, 0, 0.678);

	* {
		padding: 0px 1px;
		margin: auto auto;
	}

	& .hide {
		transform: translateY(-99%);
		& :hover {
			top: 0;
		}
	}
}