.popups {
	border-radius: 0;
	overflow: scroll;
	opacity: 0%;
	z-index: 1000;
	background: var(--lighten);
	pointer-events: none;
	
	//positioning
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	&.backdrop {// when popup shows
		pointer-events: initial;
		opacity: 100%;
	}

	& > * {//popups inside
		background: var(--shade2);
		box-shadow: var(--shadow);
		max-width: 80%;
		padding: 1vh;

		//center
		height: max-content;
		width: max-content;
		margin: auto;

		&.hide {//hidden popup
			transform: scale(0);
			opacity: 0;
			box-shadow: 0px 0px 0px 0px;
			&.left {transform: translateX(-100%);}
		}
		&.left {//popup on the left
			margin: 0;
			border-radius: 0;
			min-height: 100%;
			max-width: 90%;
		}
	}
}