.scroll-snap {
	--spacing: 1vh;
	overflow: scroll;

	&.align-center * {scroll-snap-align: center;}
	&.align-end * {scroll-snap-align: end;}
	* {scroll-snap-align: start;}


	&.y {
		* + * {margin-top: var(--spacing);}
		scroll-snap-type: y mandatory;
	}
	&.x {
		* + * {margin-left: var(--spacing);}
		scroll-snap-type: x mandatory;
		display: flex;
		* {
			object-fit: cover;
			max-width: 90%;/*for mobile*/
			width: 30vh;/*for desktop*/
		}
	}
}