::-webkit-scrollbar {
	//positioning
	width: 1%;
	min-width: 5px;
	height: 1%;
	min-height: 5px;

}
::-webkit-scrollbar-thumb {	width: 1%;
	background: var(--shade3);
	border-radius: var(--border-radius);
}
