:root {
	/*genaral vars*/
	--font-size: 3.5vh;
	--shadow: 0 0 0.5vh 0.25vh var(--shade1);
	/*colours*/
	--HS-color: 0, 0%;
	--shade1: hsl(var(--HS-color), 100%);
	--shade3: hsl(var(--HS-color), 20%);
	--shade2: hsl(var(--HS-color), 10%);
	--lighten: hsla(0, 0%, 100%, 10%);
	background: var(--shade2);
	color: var(--shade1);

	font-size: var(--font-size);
}

* {
	transition: var(--transition);
	border-radius: var(--border-radius);
	background: inherit;
	&:hover {z-index: 200;}
}

a, button {
	cursor: pointer;
	padding: 1px 1px;
	display: inline-block;
	&:hover {
		box-shadow: var(--shadow);
	}
}
footer {
	font-size: 2vh;
}

.disabled {
	cursor: not-allowed;
	filter: grayscale(100%);
	& * {
		pointer-events: none;
    opacity: 50;
	}
}

/*scroll snapping*/
.scroll-snap {
	overflow: scroll;

	* {
		scroll-snap-align: start;
		margin-top: 10px;
	}

	&.y {
		scroll-snap-type: y mandatory;
	}
	&.x {
		scroll-snap-type: x mandatory;
	}
}

/*input {
	&[type="range"] {
		width: 10vh;
		cursor: pointer;
		-webkit-appearance: none;
		&::-webkit-slider-runnable-track {
			background: var(--lighten);
		}
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			background: var(--lighten);
			transition: 0.15s ease-in-out;
			height: var(--font-size);
			width: var(--font-size);
			transform: scale(1.2);
			&:hover {
				transform: scale(1.3);
			}
		}
	}
}*/
