a, button {
	cursor: pointer;
	display: inline-block;
	&:hover {box-shadow: var(--shadow);}
}

footer {font-size: 2vh;}

.disabled {
	cursor: not-allowed;
	filter: grayscale(100%);
	* {
		pointer-events: none;
    opacity: 50;
	}
}

.scroll-snap {
	overflow: scroll;

	* {
		scroll-snap-align: start;
		margin-top: 10px;
	}

	&.y {scroll-snap-type: y mandatory;}
	&.x {scroll-snap-type: x mandatory;}
}

input {
	&[type="range"] {
		width: 10vh;
		cursor: pointer;
		-webkit-appearance: none;
		&::-webkit-slider-runnable-track {
			background: var(--lighten);
		}
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			background: var(--lighten);
			transition: 0.15s ease-in-out;
			height: var(--font-size);
			width: var(--font-size);
			transform: scale(1.2);
			&:hover {
				transform: scale(1.3);
			}
		}
	}
}